@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Task Quadrant";
}

@model List<TaskResponse>

<h1 class="text-center">Task Quadrant</h1>
<div style="border: 1px solid black;" class="container">
    <div style="border: 1px solid black;" class="row">
        <div style="border: 1px solid black;" class="col bigger text-center">Stephen Covey's Time Management Matrix</div>
    </div>

    <div style="border: 1px solid black;" class="row">
        <div style="border: 1px solid black;" class="col-sm-2"></div>
        <div style="border: 1px solid black;" class="col-lg-5 bigger text-center">
            Urgent
        </div>
        <div style="border: 1px solid black;" class="col-lg-5 bigger text-center">
            Not Urgent
        </div>
    </div>

    <div style="border: 1px solid black;" class="row">
        <div style="border: 1px solid black;" class="col-sm-2">
            <div class="text-orientation text-center">&nbsp;IMPORTANT&nbsp;</div>
        </div>

        <div style="border: 1px solid black;" class="col-lg-5">
            <h5 class="text-center">Quadrant 1</h5>
            <div class="container">
                @foreach (var x in Model)
                {
                    @if (x.Quadrant == "1" && x.Completed == false)
                    {
                <div class="row">
                    <div class="col-6">@x.TaskName</div>
                    <div class="col-1"><a asp-action="Edit" asp-route-taskid="@x.TaskId">Edit</a></div>
                    <div class="col-2"><a asp-action="Delete" asp-route-taskid="@x.TaskId">Delete</a></div>
                    <div class="col-2"><a asp-action="Complete" asp-route-taskid="@x.TaskId">Completed</a></div>
                </div>
                    }
                }
            </div>
        </div>

        <div style="border: 1px solid black;" class="col-lg-5">
            <h5 class="text-center">Quadrant 2</h5>
            <div class="container">
                @foreach (var x in Model)
                {
                    @if (x.Quadrant == "2" && x.Completed == false)
                    {
                        <div class="row">
                            <div class="col-6">@x.TaskName</div>
                            <div class="col-1"><a asp-action="Edit" asp-route-taskid="@x.TaskId">Edit</a></div>
                            <div class="col-2"><a asp-action="Delete" asp-route-taskid="@x.TaskId">Delete</a></div>
                            <div class="col-2"><a asp-action="Complete" asp-route-taskid="@x.TaskId">Completed</a></div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>

    <div style="border: 1px solid black;" class="row">
        <div style="border: 1px solid black;" class="col-sm-2">
            <div class="text-orientation text-center">&nbsp;NOT IMPORTANT&nbsp;</div>
        </div>
        <div style="border: 1px solid black;" class="col-lg-5">
            <h5 class="text-center">Quadrant 3</h5>
            <div class="container">
                @foreach (var x in Model)
                {
                    @if (x.Quadrant == "3" && x.Completed == false)
                    {
                        <div class="row">
                            <div class="col-6">@x.TaskName</div>
                            <div class="col-1"><a asp-action="Edit" asp-route-taskid="@x.TaskId">Edit</a></div>
                            <div class="col-2"><a asp-action="Delete" asp-route-taskid="@x.TaskId">Delete</a></div>
                            <div class="col-2"><a asp-action="Complete" asp-route-taskid="@x.TaskId">Completed</a></div>
                        </div>
                    }
                }
            </div>
        </div>
        <div style="border: 1px solid black;" class="col-lg-5">
            <h5 class="text-center">Quadrant 4</h5>
            <div class="container">
                @foreach (var x in Model)
                {
                    @if (x.Quadrant == "4" && x.Completed == false)
                    {
                        <div class="row">
                            <div class="col-6">@x.TaskName</div>
                            <div class="col-1"><a asp-action="Edit" asp-route-taskid="@x.TaskId">Edit</a></div>
                            <div class="col-2"><a asp-action="Delete" asp-route-taskid="@x.TaskId">Delete</a></div>
                            <div class="col-2"><a asp-action="Complete" asp-route-taskid="@x.TaskId">Completed</a></div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
<br/>
<a asp-controller="Home" asp-action="TaskForm" class="btn btn-primary">Add New Task</a>